<div class="container clearfix">
   @*@Html.Partial("../Shared/_ConfigNavTab")*@
    <div class="main-wrap content">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class=""></i><a href="~/WXAccount/Index">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">基本信息</span></div>

            <ul id="myTab" class="nav nav-tabs">
                <li class="active">
                    <a href="#home" data-toggle="tab">
                        W3Cschool Home
                    </a>
                </li>
                <li><a href="#ios" data-toggle="tab">iOS</a></li>
            </ul>
            <div>

                <p>hello java world</p>
            </div>
        </div>
    </div>
  



</div>
