

@model IEnumerable<WXPageAdmin.Models.ProductCategory>

<div>
    @Html.Partial("../Shared/_ConfigNavTab")
    <div class="content">
        <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">账号管理</span></div>
    </div>
</div>