<!DOCTYPE html>
<html>
<head>
</head>
<body>


    <div class="container body-content">
        @RenderBody()
        <footer>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>