<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--文件上传路径-->
  <add key="uppath" value="/upload/" />
  <!--邮箱域名-->
  <add key="EmailDomain" value="@managesys.com" />
  <!--是否启用单用户登录-->
  <add key="IsSingleLogin" value="True"/>
  <!--历史消息天数-->
  <add key="HistoryDays" value="3"/>
  <!--图片文件格式-->
  <add key="Image" value="bmp,gif,jpg,jpeg,png" />
  <!--视频文件格式-->
  <add key="Video" value="rmvb,mkv,ts,wma,avi,rm,mp4,flv,mpeg,mov,3gp,mpg" />
  <!--音频文件格式-->
  <add key="Music" value="mp3,wav" />
  <!--文档文件格式-->
  <add key="Document" value="doc,docx,xls,xlsx,ppt,pptx,txt,pdf" />
  <!--允许上传的文件格式-->
  <add key="AttachExtension" value="gif,jpg,jpeg,png,bmp,rar,zip,doc,docx,xls,xlsx,ppt,pptx,txt,flv,apk,mp4,mpg,ts,mpeg,mp3,bak,pdf"/>
  <!--图片最大值KB-->
  <add key="AttachImagesize" value="12400"/>
  <!--视频最大值KB-->
  <add key="AttachVideosize" value="12400"/>
  <!--文档最大值KB-->
  <add key="AttachDocmentsize" value="12400"/>
  <!--文件最大值KB-->
  <add key="AttachFilesize" value="5120000"/>
  <!--水印方式1文字2图片-->
  <add key="WatermarkType" value="2"/>
  <!--水印文字-->
  <add key="WatermarkText" value="◎JAYSON"/>
  <!--水印位置-->
  <add key="WatermarkPosition" value="9"/>
  <!--水印质量-->
  <add key="WatermarkImgQuality" value="80"/>
  <!--水印字体-->
  <add key="WatermarkFont" value="Microsoft YaHei"/>
  <!--水印字体Size-->
  <add key="WatermarkFontsize" value="20"/>
  <!--水印图片-->
  <add key="WatermarkPic" value="/Content/images/watermark.png"/>
  <!--水印图片透明度-->
  <add key="WatermarkTransparency" value="5"/>
  <!--缩略图宽度-->
  <add key="ThumbnailWidth" value="200"/>
  <!--缩略图高度-->
  <add key="ThumbnailHeight" value="200"/>
  <!--压缩文件密码-->
  <add key="ZipPassword" value="6711D4425F15B2C041DAD9BBAC1A588B1C14305A8DBED1371CD7B16AEB774FC958690B4FF89C45ECECD3CE7EA6F93C13"/>
  <!--上午上班时间-->
  <add key="OnDutyAM" value="08:00"/>
  <!--上午下班时间-->
  <add key="OffDutyAM" value="12:00"/>
  <!--下午上班时间-->
  <add key="OnDutyPM" value="14:00"/>
  <!--下午下班时间-->
  <add key="OffDutyPM" value="18:00"/>
</appSettings>
